 @font-face { font-family: Cloud; src: url('Cloud-LightBold/Cloud-Light.otf'); } 
 @font-face { font-family: Cloud; font-weight: bold; src: url('Cloud-LightBold/Cloud-Bold.otf'); } 
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
	scroll-behavior: smooth;
}

body {
	font-size: 0.95em;
}

.bold {
	font-weight: 900;
}

.full-window {
	width: 100%;
	height: 100%;
}

.pane {
	margin-top: 5%;
	display: inline-block;
}

.content {
	display: flex;
	flex-direction: row;
}

.content-left {
	width: 35%;
}

.content-right {
	width: 55%;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 500;
	letter-spacing: 1px;
	line-height: 1.6em;
}

.line {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.title {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.title-name {
	letter-spacing: 1px;
	color: white;
	font-weight: 900;
  text-shadow: -1px 1px #000, 
               -2px 2px #000, 
               -3px 3px #000,
               -4px 4px #000;
}

.title-name:hover {
  text-shadow: 1px -1px #000, 
               2px -2px #000, 
               3px -3px #000,
               4px -4px #000;
}

.title-font {
	font-size: 6em;
	font-family: Helvetica, sans-serif;
	letter-spacing: -2px;
	font-weight: 100;
}

.title-emoji {
	font-size: 0.9em;
}

.sub-title-font {
	font-weight: 100;
	margin-top: 5px;
	font-size: 1.20em;
	font-family: Helvetica, sans-serif;
	color: #ccc;
}

.title-button {
	margin: 20px 0px;
	margin-right: 15px;
	width: 50%;
	padding: 15px 0px;
	font-size: 1.5em;
}

.title-button + .title-button {
	margin-right: 0px;
	margin-left: 15px;
}

/*start https://codepen.io/anon/pen/oJRYGJ*/
.button {
	font-weight: 100;
	color: #bbb;
	text-align: center;
  background: none;
  border: none;
  cursor: pointer;
	font-family: Helvetica, sans-serif;
}

.button a {
	width: 100%
}

/*end https://codepen.io/anon/pen/oJRYGJ*/


/*start https://stackoverflow.com/users/3999748/persijn*/
.programmer-animate {
	animation: bounce 0.2s infinite alternate;
  -webkit-animation: bounce 0.2s infinite alternate;
	-webkit-animation-timing-function: ease;
	animation-timing-function: ease;
}

@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-1px);
  }
}
@-webkit-keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-1px);
  }
}
/*end https://stackoverflow.com/users/3999748/persijn*/

/*start https://codepen.io/dead_pixel/pen/pJeFx*/
.wave-animate {

	-webkit-transform: rotate(-3deg);
	-moz-transform: rotate(-3deg);
	-o-transform: rotate(-3deg);
	-ms-transform: rotate(-3deg);
	transform: rotate(-3deg);
	-webkit-animation: wink 0.5s alternate infinite;
	/* Safari 4+ */
	-moz-animation: wink 0.5s alternate infinite;
	/* Fx 5+ */
	-o-animation: wink 0.5s alternate infinite;
	/* Opera 12+ */
	animation: wink 0.5s alternate infinite;
	/* IE 10+, Fx 29+ */
	-webkit-transform-origin: 50% 100%;
	-moz-transform-origin: 50% 100%;
	-o-transform-origin: 50% 100%;
	-ms-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
	-webkit-animation-timing-function: ease;
	/* Chrome, Safari, Opera */
	animation-timing-function: ease;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes wink {
	0% {
	-webkit-transform: rotate(-3deg);
	-moz-transform: rotate(-3deg);
	-o-transform: rotate(-3deg);
	-ms-transform: rotate(-3deg);
	}

	100% {
	-webkit-transform: rotate(3deg);
	-moz-transform: rotate(3deg);
	-o-transform: rotate(3deg);
	-ms-transform: rotate(3deg);
	transform: rotate(3deg);
	}
}

/* Standard syntax */
@keyframes wink {
	0% {
	-webkit-transform: rotate(-3deg);
	-moz-transform: rotate(-3deg);
	-o-transform: rotate(-3deg);
	-ms-transform: rotate(-3deg);
	transform: rotate(-3deg);
	}

	100% {
	-webkit-transform: rotate(3deg);
	-moz-transform: rotate(3deg);
	-o-transform: rotate(3deg);
	-ms-transform: rotate(3deg);
	transform: rotate(3deg);
	}
}
/*end https://codepen.io/dead_pixel/pen/pJeFx*/


.mouse {
	overflow:hidden;
  position:absolute;
	bottom: 75px;
  width:24px;
  margin: -12px;
  height:50px;
  border:4px solid black;
  border-radius:30px;
  opacity:.3;
  transform: translateX(37%);
}

.mouse:after {
  display: block;
  content:"";
  position:absolute;
  left:13px;
  top: 5px;
  width:4px;
  height:4px;
  margin-left: -3px;
  background-color: black;
  border-radius:2px;
  animation: mouse-wheel 2.5s cubic-bezier(0.77, 0, 0.175, 1) infinite;
}

@keyframes mouse-wheel {
  0% {
    transform: translateY(0);
    opacity: 0;
  }  
  10% {
    transform: translateY(0);
    opacity: 1;
  }
  30% {
    transform: translateY(0);
    height: 4px;
  }
  50% {
    transform: translateY(0);
    height: 20px;
  }
  70% {
    transform: translateY(15px);
    height: 4px;
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
  100% {
    transform: translateY(15px);
    opacity: 0;
  }
}

.header {
	color: #007DD6;
	font-family: Cloud, Helvetica, sans-serif;
	font-weight: 100;
	letter-spacing: 2px;
	font-size: 1em;
	align-items: flex-start;
	justify-content: flex-end;
	margin-right: 50px;
	margin-top: 5px;
}

.header-emoji {
	font-size: 2em;
}

.item {
	letter-spacing: 0.85px;
	line-height: 1em;
	font-family: Helvetica, sans-serif;
}

.item-header {
	justify-content: space-between;
	margin-bottom: 4px;
}

.item-name {
	font-weight: 900;
}

.item-detail {
	font-weight: 100;
	font-size: 0.9em;
}

.item-origin {
	font-size: 0.95em;
	font-weight: 500;
	font-family: Helvetica, sans-serif;
}

.item-dot {
	font-size: 0.75em;
}

.item-note {
	line-height: 1.3em;
	display: flex;
	flex-direction: row;
	margin-top: 7px;
	font-weight: 100;
	font-family: Cloud, Helvetica, sans-serif;
	color: #444;
}

.item-tags {
	font-family: courier;
}

.about .item-note {
	margin-top: 20px;
}

.project .item-origin {
	font-family: courier;
}

.project .item-note {
	margin-top: 3px;
	font-size: 0.95em;
}

.project .item {
	margin-top: 15px;
}

.skill-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.skill-subject h2 {
	font-family: courier;
	font-size: 0.9em;
	line-height: 2em;
}

.contact-button {
	margin-right: 15px;
	width: 33%;
	padding: 15px 0px;
	font-size: 1.5em;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.contact-emoji {
	font-size: 0.8em;
}

a {
	color: inherit;
	text-decoration: none;
}

#resume-anchor {
    display: block;
    position: relative;
    top: -250px;
    visibility: hidden;
}

@media screen and (min-width: 1282px) {
	.draw-border {
	  box-shadow: inset 0 0 0 3px #ccc;
	  color: #ccc;
	  transition: color 0.25s 0.0833333333s;
	  position: relative;
	}

	.draw-border::before, .draw-border::after {
	  border: 0 solid transparent;
	  box-sizing: border-box;
	  content: "";
	  pointer-events: none;
	  position: absolute;
	  width: 0;
	  height: 0;
	  bottom: 0;
	  right: 0;
	}
	.draw-border::before {
	  border-bottom-width: 3px;
	  border-left-width: 3px;
	}
	.draw-border::after {
	  border-top-width: 3px;
	  border-right-width: 3px;
	}
	.draw-border:hover {
	  color: #000;
	}
	.draw-border:hover::before, .draw-border:hover::after {
	  border-color: #000;
	  transition: border-color 0s, width 0.25s, height 0.25s;
	  width: 100%;
	  height: 100%;
	}
	.draw-border:hover::before {
	  transition-delay: 0s, 0s, 0.25s;
	}
	.draw-border:hover::after {
	  transition-delay: 0s, 0.25s, 0s;
	}

	.button {
	  background: none;
	  border: none;
	}

	.button:focus {
	  outline: none;
	}

	.resume-button {
		width: 50%;
		padding: 15px 25px;
		font-size: 1.5em;
	}
}

@media screen and (max-width: 1281px) {
	.button {
		color: black;
		border: 3px solid black;
	}

	.content {
		flex-direction: column;
	}

	.content-left, .content-right {
		margin-left: 5%;
		width: 90%;
		margin-right: 5%;
	}

	.header {
		text-align: left;
		justify-content: flex-start;
	}

	.skill-container {
		flex-wrap: wrap;
	}

	.skill-container .skill-subject {
		flex: 1 0 50%;
		margin-bottom: 50px;
	}

	.contact-line {
		flex-direction: column;
	}

	.contact-button {
		margin-bottom: 10px;
	}

	.resume .content-right {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.resume-button {
		padding: 15px 25px;
		margin-top: 15px;
		display: inline-block;
	}
}

@media screen and (max-width: 720px) {
	.pane {
		margin-top: 75px;
	}

	.content {
		font-size: 0.75em;
	}

	.card {
		transform: scale(0.5, 0.5);
	}

	.sub-title-font {
		font-size: 1.5em;
	}

	.mouse {
		transform: scale(0.75, 0.75), translateX(-15%);
		bottom: 25px;
	}

	.mouse:after {
	  margin-left: -0.15em;
	}

	.item-header {
		align-items: flex-start;
		flex-direction: column;
	}

	.header {
		font-size: 1.35em;
	}

	.item-detail {
		margin-top: 3px;
	}

	.resume .content-right {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
	}

	.contact-button {
		width: 75%;
	}

	.button {
		font-size: 1.5em;
	}

	.title-button {
		padding: 10px 0px;
		font-size: 3em;
	}
}
